* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  overflow: hidden;
}
html{
  overflow: hidden;
}
header{
  position: relative;
}

h1{
  font-weight:bold;
 
}
.original{
  text-decoration:none;
  color: black;
}
 .nav{
    display:flex;
    justify-content:space-between;
    border-bottom: 1px solid gray;
    padding-bottom: 2em;
  }
  .profile{
    gap: 2em;
    display:flex;
    align-items: center;
    justify-content: flex-end;
  }

  .menu{
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap:4em;

  }

  li a {
    /* padding: 14px 16px; */
    text-decoration: none;
    color: gray;
  }
  /* a:hover {
    color: gray;
    text-decoration: underline;
  } */

.avatar{
    width: 50px;
    height: 50px;
    }
    .avatar {
      transition: transform .1s;
    }
    
    .avatar:hover {
      -ms-transform: scale(1.5); /* IE 9 */
      -webkit-transform: scale(1.5); /* Safari 3-8 */
      transform: scale(1.2); 
    }

.card{
    width: 25px;
    height: 25px;
  
  }
  .card {
    transition: transform .1s;
  }
  
  .card:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }

  .nav-links{
    display:flex;
    justify-content:space-between;
    list-style-type: none;
    gap: 2em;
    
  }
  .nav-links1{
    position: relative;
    padding-bottom: 52px;
  }
  
  .nav-links1::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 4px;
    background-color: hsl(26, 100%, 55%);
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  }
  
  @media (hover: hover) and (pointer: fine) {
    .nav-links1:hover::before{
      left: 0;
      right: auto;
      width: 100%;
    }
  }
  .nav-links2{
    position: relative;
    padding-bottom: 52px;
  }
  
  .nav-links2::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 4px;
    background-color: hsl(26, 100%, 55%);
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  }
  
  @media (hover: hover) and (pointer: fine) {
    .nav-links2:hover::before{
      left: 0;
      right: auto;
      width: 100%;
    }
  }
  .nav-links3{
    position: relative;
    padding-bottom: 52px;
  }
  
  .nav-links3::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 4px;
    background-color: hsl(26, 100%, 55%);
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  }
  
  @media (hover: hover) and (pointer: fine) {
    .nav-links3:hover::before{
      left: 0;
      right: auto;
      width: 100%;
    }
  }
  .nav-links4{
    position: relative;
    padding-bottom: 52px;
  }
  
  .nav-links4::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 4px;
    background-color: hsl(26, 100%, 55%);
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  }
  
  @media (hover: hover) and (pointer: fine) {
    .nav-links4:hover::before{
      left: 0;
      right: auto;
      width: 100%;
    }
  }
  .nav-links5{
    position: relative;
    padding-bottom: 52px;
  }
  
  .nav-links5::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 4px;
    background-color: hsl(26, 100%, 55%);
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  }
  
  @media (hover: hover) and (pointer: fine) {
    .nav-links5:hover::before{
      left: 0;
      right: auto;
      width: 100%;
    }
  }
  
  
body {
  margin: 39px 160px;
  font-family: "Kumbh Sans", sans-serif;
}

.main-img {
  margin-top: 36px;
}

.images img {
  /* display: block; */
  border-radius: 0.75rem;
  width: 50%;
}

li {
  list-style: none;
}

div > .main-img {
  width: 75%;
}

.imgs-li {
  display: flex;
  justify-content: space-between;
}

.images {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  align-items: center;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

.info {
  flex: 1;
}

.info-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

h3 {
  color: hsl(26, 100%, 55%);
  margin-bottom: 0.5em;
}

p {
  font-size: 16px;
}

.discount-per {
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  border-radius: 0.25em;
  padding: 0.05em 0.25em;
}

.price-discount {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.calculated-price {
  font-size: 35px;
}

.main-price {
  text-decoration: line-through;
}
.bars {
  display: none;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

  
